package views

import "learning/ai/src/layouts"

templ Index() {
  @layouts.Layout("") {
    <canvas class="w-56 h-56" style="image-rendering: pixelated;" width="28" height="28"></canvas>
    <script type="module" src="main.js"></script>
  }
}
